@media only screen and (min-width: 60em) {
    header {
        max-width: 1000px;
        font-size: 1.6rem;
    }
    main {
        max-width: 1000px;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.2rem;
    }

    section:nth-child(3) {
        grid-column: span 1;
    }

    section:nth-child(3) img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        max-width: 1000px;
        font-size: 1rem;
    }
}