body {
    background-color: #D2D0D3;
    font-size: 16px;
}

header, nav, main, footer {
    max-width: 1080px;
    margin: 0 auto;
}

.banner {
    display: none;
}

h1, h2, h3  {
    font-family: "Barlow", sans-serif;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-image: linear-gradient(#738e79, #8D9D90);
    position: relative;
}

.banner {
    width: 100%;
    position: absolute;
    top: 1rem;
    text-align: center;
    background-color: #FAE275;
    color: #373795;
}

.banBtn {
    border: none;
    background: #FAE275;
    cursor: pointer;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    border-radius: 50%;
}

#hutch {
    display: none;
}

#title {
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header h1, h2 {
    line-height: 0.2rem;
    color: #FAE275;
}

time {
    color: #FAE275;
    text-align: center;
    font-family: "Prompt", sans-serif;
    padding-bottom: 0.4rem;
}

nav {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0;
    background-image: linear-gradient(to right,#A4B6A8, #5B7160);
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    text-align: center;
    color: #D2D0D3;
    cursor: pointer;
}

.social {
    width: 2rem;
    padding-right: 0.4rem;
}

nav ul {
    display: block;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding-top: .3rem;
}

nav ul li a {
    text-decoration: none;
    color: #D2D0D3;
    font-size: 1.6rem;
    font-family: "Prompt", sans-serif;
    
}

nav ul li a:hover {
    background-color: #FAE275;
    color:#373795;
}

nav div {
    display: inline;
    padding-left: .3rem;
}

nav ul { 
    display: none;
}

nav ul.open {
    display: block;
}

#menuBtn span:nth-child(1) {
    display: block;
}

#menuBtn span:nth-child(2) {
    display: none;
}

#menuBtn.open span:nth-child(1) {
    display: none;
}

#menuBtn.open span:nth-child(2) {
    display: block;
    font-size: 2.0rem;
}

/* Main page */
main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

main section, #spots, #join {
    border-radius: 18px;
    margin: 0.5rem;
    padding: 0 0.5rem;
    font-size: 1.4rem;
}

main p {
    font-family: "Prompt", sans-serif;
}

.style {
    background-color: #8D9D90;
    color: #FAE275;
    box-shadow: 2px 2px 8px #373795;
    text-align: center;
}

#hero {
    position: relative;
}

#hero h3 {
    position: absolute;
    left: 25px;
    color: #FAE275;
    z-index: 1;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#credit {
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-family: "Prompt", sans-serif;
    font-size: .5rem;
    color: #FAE275;
}

#credit a {
    color: #FAE275;
}

#hero .action {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: "Prompt", sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: #373795;
    color: #D2D0D3;
}

.style h3 {
    text-shadow: 3px 3px 5px #373795;
}

#weather {
    align-items: center;
    justify-content: center;
}

#weather p:nth-child(3) {
    padding: .3rem;
    border-bottom: 1px solid #FAE275;
}

#spots {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding-bottom: .8rem;
}

.color {
    background-color: #738e79;
    border-radius: 18px;
    padding-bottom: .3rem;
    box-shadow: 3px 3px 5px #FAE275;
}

.pspot {
    font-size: 1.2rem;
}

.contact {
    font-size: 1rem;
    line-height: .3rem;
    border-top: 1px solid #FAE275;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.spot3 {
    display: none;
}

#join {
    display: none;
}

.joinBtn {
    width: 80%;
    font-family: "Prompt", sans-serif;
    padding: 1rem;
    border-radius: 15px;
    background-color: #373795;
    color: #D2D0D3;
}

/* Main Discover */
#discover h1 {
    text-align: center;
}

.imgs img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    object-fit: cover;
}

figcaption {
    font-size: smaller;
}

.cap {
    display: none;
}

#info figure {
    display: none;
}

#info section {
    text-align: center;
}

#stats {
    background-color: #8D9D90;
    padding: 1.3rem;
}

.item {
    line-height: .3rem;
    padding: .2rem;
    margin-top: .4rem;
    background-color: #738e79;
    border-radius: 20px;
    color: #FAE275;
    box-shadow: 3px 3px 5px #FAE275;
    font-size: 1.2rem;
}

#demo {
    display: none;
}

/* Main Join */
#joinpg {
    margin-bottom: 2rem;
}
#joinpg h2 {
    color: #373795;
    text-align: center;
}

#joinpg div {
    padding: .5rem 0 .5rem 0;
}

form {
    max-width: 400px;
    background-color: #8D9D90;
    padding: .5rem 0 .5rem 0;
    border-radius: 20px;
    box-shadow: 0 0 9px #373795;
    font-family: "Prompt", sans-serif;
}

form fieldset {
    max-width: 360px;
    margin: 2rem 1.5rem 2rem 1.5rem;
    border: none;
    padding: .5rem 2% 1rem 2%;   
    background-color: #738e79; 
    border-radius: 20px;
    box-shadow: 0 0 9px #FAE275;
}

form label.top, form label.darea {
    display: block;
    padding-top: 1rem;
    color: #FAE275;
}

.top input, .darea textarea{
    display: block;
    padding: .75rem;
    width: 90%;
    max-width: 20rem;
    border-radius: 10px;
    background-color: #D2D0D3;
    color: #373795;
}

.darea textarea {
    height: 8rem;
}

form label.radio {
    display: block;
    padding: .75rem;
    color: #FAE275;
    cursor: pointer;
}

form input.subBtn {
    border: none;
    padding: .75rem 1.5rem;
    margin: 1rem 1.5rem 1rem 1.5rem;
    width: 100%;
    max-width: 21.5rem;
    border-radius: 20px;
    background-color: #373795;
    color: #D2D0D3;
    box-shadow: 0 0 9px #D2D0D3;
    cursor: pointer;
}

form label.top input:required {
    border-left: 10px solid rgb(103, 40, 40);
}

form label.top input:required:valid {
    border-left: none;
}

table {
    display: none;
}

/* Thank you Page */
#thankyou {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Directory Page */
#directory {
    display: block;
}

.dirlist {
    margin: 1rem .4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: .3rem;

    /* List styling */
    &.list img {
        display: none;
    }

    &.list {
        display: flex;
        flex-direction: column;
    }

    &.list section {
        display: inline;
        margin: 0;
        padding: .25rem;
        box-shadow: none;
    }

    &.list .cinfo a {
        display: none;
    }

    &.list section:nth-child(even) {
        background-color: #A4B6A8;
    }
}

.dirlist section {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-flow: dense;
    align-items: center;
    background-color: #8D9D90;
    color: #FAE275;
    box-shadow: 3px 3px 5px #373795;
}

.dirlist div {
    grid-column: 2/3;
    align-items: left;
    font-size: 1rem;
}

.dirlist img {
    border-radius: 10px;
}

.cinfo a {
    text-decoration: none;
    color: #373795;
}

.buttons {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    text-align: center;
    background-color: #8D9D90;
    border-radius: 20px;
}

.buttons button {
    padding: 1rem;
    font-weight: 700;
    border-radius: 15px;
    background-color: #373795;
    color: #D2D0D3;
    cursor: pointer;
}

/* Footer */
footer {
    display: block;
    text-align: center;
    background-image: linear-gradient(#8D9D90, #738e79);
    border-radius: 18px;
    padding-top: .6rem;
    font-family: "Prompt", sans-serif;
}

.ftlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50%;
}

footer div p {
    line-height: .4rem;
    font-size: .9rem;
    color: #FAE275;
    font-family: "Prompt", sans-serif;
}   

.map {
    text-decoration: none;
    font-family: "Prompt", sans-serif;
}

.ident {
    width: 100%;
    border-top: .1rem solid #373795;
    padding-top: 1rem;
    font-size: .65rem;
    color: #FAE275;
    font-family: "Prompt", sans-serif;
}

.moddate, .visits, .lvisit {
    color: #373795;
}